body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
     @media only screen and (max-width: 300px) {
        
        

    justify-content: center;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333333;
}
.calendar{
    align-items: center;
    justify-items: center;
    background-color: #111111;
    border-radius: 10px;
    box-shadow: 0 0 30px #222222;
    overflow: hidden;
    width: 344px;
    height: 600px;
    color: gold;
    padding: 20px;
    text-align: center;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.btn{
    cursor: pointer;
}
